$primary: #2a0845;
$secondary: #9105FF;
$offWhite: #F5F5F5;
$highlight: #A3B200;
$darkPrimary: #000000;
$darkSecondary: lighten($darkPrimary, 20%);
body {
  background: $offWhite;
  font-size: 1em;
  color: #fff;
}

#blink {
  animation: blink 1.2s linear infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

#header {
  position: relative;
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  a {
    color: $secondary;
  }
}

#feat-wrap {
  margin: 0;
  background: $primary;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#featured {
  font-size: 1em;
  padding: 1.5em 1em;
}

#featured-vid {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#profile-info {
  padding: 1em 1em 0;
  img {
    margin-right: 1em;
    height: 40px;
    width: 40px;
  }
  h4 {
    margin: 0;
  }
  h3 {
    margin: 0.5em 0;
    font-size: 1.1em;
  }
  span {
    margin-right: 0.3em;
  }
  a {
    color: $highlight;
  }
  p {
    font-size: 0.7em;
  }
}

#online-wrap {
  padding-top: 2em;
  h1 {
    font-size: 2.8em;
    margin-bottom: 0.8em;
  }
}

#online {
  display: none;
}

#offline-wrap {
  padding: 2em 0 2.5em 0;
  h1 {
    font-size: 2.7em;
    margin-bottom: 0.8em;
  }
}

#deleted {
  display: none;
  h1 {
    font-size: 2.7em;
    margin-bottom: 0.8em;
  }
}

.dark {
  color: $darkPrimary;
}

#card {
  margin-bottom: 1.7em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#footer {
    border-radius: 0;
    margin: 1em 0 0 0;
    background-color: $primary;
}

@media screen and (min-width:769px) {
  #featured {
    padding: 2em 1em;
  }
  #profile-info {
    padding: 0em 1.8em 0em 0.2em;
    img {
      margin-right: 1em;
      height: 70px;
      width: 70px;
    }
    h4 {
      font-size: 1.7em;
    }
    h3 {
      margin: 1.5em 0 1em 0;
      font-size: 1.9em;
    }
    span {
      font-size: 1.2em;
      margin-right: 0.3em;
    }
    a {
      font-size: 1.2em;
      color: $highlight;
    }
    p {
      font-size: 1.2em;
      font-weight: 200;
    }
  }
}
